@media (min-width: 320px) and (max-width: 374px){

	/* .AmanBhayani{
			font-size: 70px !important;
		} */

	.about-section {
		height: auto;
	}

	/* .project-section {
	    height: 450%;

	}


	.contact-section2 {
    	padding-top: 60px;
	} */

}

@media (min-width: 375px) and (max-width: 410px){
	
	/* .AmanBhayani{
			font-size: 70px !important;
		} */

	.about-section {
	    height: auto;
	}

	/* .project-section {
	    height: 450%;

	}


	.contact-section2 {
    	padding-top: 30px;
	}

	#icons{

		padding-top: 30px;

	} */

}

@media (min-width: 411px) and (max-width: 434px){
	

	.about-section {
		    height: auto;
		}

/* 
	.project-section {
	    height: 450%;

	}


	.contact-section2 {
    	padding-top: 220px;
	}


	#icons{

		padding-top: 30px;

	} */


}

@media (min-width: 425px) and (max-width: 639px){
	

	.about-section {
		    height: auto;
		}


	/* .project-section {
	    height: 450%;

	}


	.contact-section2 {
    	padding-top: 20px;
	}


	#icons{

		padding-top: 30px;

	} */

}

@media (min-width: 640px) and (max-width: 767px) {


	.about-section {
	    height: auto;
	}


	/* .project-section {
	    height: 490%;

	}

	.contact-section{
		height: 95%;
	} */

}

@media (min-width: 768px) and (max-width: 950px){

	/* #about-info {
    	padding-top: 82px;
	} */

	.about-section{
		height: auto;
	}

	/* .project-section{
		height: 300%;
	}

	.contact-section2 {
	    padding-top: 40px;

	}

	#icons{

		padding-top: 30px;

	} */

}

@media (min-width: 991px) and (max-width: 1198px){

	/* #about-info {
    	padding-top: 30px;
	}

	.project-section {
    	height: 250%;
	}

	.img-parent {
    position: relative;
    margin-bottom: 15px;	
	}

	margin-bottom: 15px; */

	.about-section {
    height: auto;
	}
    
    /* .contact-section {

    height: 60%;
	
	}

	 .contact-section2 {
    padding-top: 267px;
	
	}

	
	#icons{

		padding-top: 40px;

	} */

}

/* @media (min-width: 1199px) and (max-width: 1365px){

	#about-info {
    	padding-top: 50px;
	}
	
	#bio{
	font-size: 18px;
	}

	.facts{
		font-size: 16px;
	}

	.project-section{
		height: 170%;
	}

		.img-parent {
    position: relative;
    margin-bottom: 15px;	
	}
   
    .contact-section {
    height: 60%;
	
	}

	 .contact-section2 {
    padding-top: 60px;
	
	}
}

@media (min-width: 1366px) and (max-width: 1439px){

	#bio{
	font-size: 18px;
	}

	.facts{
		font-size: 16px;
	}

	#about-info{
	    padding-top: 90px;
	}

	.project-section {
	    height: 170%;
	    position: relative;
	}

	.contact-section2 {
    	padding-top: 68px;
	}

}

@media (min-width: 1440px){

	#bio{
		font-size: 18px;
	}

	.facts{
			font-size: 16px;
	}


	.project-section {
	    height: 170%;
	    position: relative;
	}

	.contact-section2{
		padding-top: 95px;

	}

		#header{
	    padding-bottom: 100px;
	}
}
 */




























