@media (min-width: 1440px){

	.about-section {
	    height: 105%;
	    position: relative;
	}


	.project-section {
	    height: 105%;
	    position: relative;
	}

	.contact-section2{
		padding-top: 95px;

	}

		#header{
	    padding-bottom: 100px;
	}
}


@media (max-width: 1366px){

	#about-info{
	    padding-top: 90px;
	}

	.project-section {
	    height: 120%;
	    position: relative;
	}

	.contact-section2 {
    	padding-top: 68px;
	}

}



@media (max-width: 1199px){

	.project-section{
		height: 180%;
	}

		.img-parent {
    position: relative;
    margin-bottom: 15px;	
	}
   
    .contact-section {
    height: 60%;
	
	}

	 .contact-section2 {
    padding-top: 267px;
	
	}




@media (max-width: 991px){

	#about-info {
    	padding-top: 30px;
	}

	.project-section {
    	height: 200%;
	}

	.img-parent {
    position: relative;
    margin-bottom: 15px;	
	}

	margin-bottom: 15px;

	.about-section {
    height: auto;
	}
    
    .contact-section {

    height: 60%;
	
	}

	 .contact-section2 {
    padding-top: 267px;
	
	}

	
	#icons{

		padding-top: 40px;

	}

}



@media (max-width: 768px){

	#about-info {
    	padding-top: 82px;
	}

	.about-section{
		height: 120%;
	}

	.project-section{
		height: 300%;
	}

	.contact-section2 {
	    padding-top: 40px;

	}

	#icons{

		padding-top: 30px;

	}

}


@media (max-width: 640px) {


	.about-section {
	    height: 190%;
	}


	.project-section {
	    height: 490%;

	}

	.contact-section{
		height: 95%;
	}

}


@media (max-width: 435px){
	

.about-section {
	    height: 115%;
	}


	.project-section {
	    height: 250%;

	}


	.contact-section2 {
    	padding-top: 20px;
	}


	#icons{

		padding-top: 30px;

	}

}



@media (max-width: 411px){
	

.about-section {
	    height: 120%;
	}


	.project-section {
	    height: 250%;

	}


	.contact-section2 {
    	padding-top: 220px;
	}


	#icons{

		padding-top: 30px;

	}


}




@media (max-width: 375px){
	

#info h1{
		font-size: 70px !important;
	}

	.about-section {
	    height: 142%;
	}

	.project-section {
	    height: 292%;

	}


	.contact-section2 {
    	padding-top: 30px;
	}

	#icons{

		padding-top: 30px;

	}

}


@media (max-width: 320px){

	.about-section {
		height: 150%;
	}

	.project-section {
	    height: 295%;

	}


	.contact-section2 {
    	padding-top: 60px;
	}

}

